<div class="main-outlet">
    <div class="sidenav d-sm-none d-none d-md-block">
        <app-sidenav></app-sidenav>
    </div>

    <div class="{{ navClass }} d-md-none d-lg-none d-xl-none">
        <app-sidenav></app-sidenav>
    </div>

    <div *ngIf="navClass == 'nav-active'" class="overlay d-md-none d-lg-none d-xl-none" (click)="hideNav()">
        <div class="true_center"></div>
    </div>

    <div class="main">
        <app-header></app-header>
        <div style="height: 93vh; overflow-x:hidden;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>